name: ArmorEQ
main: net.bless.armoreq.ArmorEQ
version: @build.major@.@build.minor@.@build.revision@
builddate: @build.date-refer to version.properties for details@
author: Bless
authors:
  - Bless
  - Zarius
commands:
    armoreq:
        description: Create new armor
        aliases: [aeq]
        usage: |
            ArmorEQ 
            §7version: @build.major@.@build.minor@.@build.revision@ built: @build.date@

